/* Table of Contents
--------------------
- Common Styles
- Typography
- Buttons
- Alerts
- Icon Fonts
- Navigation
- Sidebar Navigation
- Forms
- Zoom Fade
- Carousel
- Quote Carousel
- Team Carousel
- Owl Carousel
- Heading
- Header 1 + 2
- Panels
- Tabs
- Accordion
- Content Section
- Timeline
- Thumbnails
- Shadows
- Dividers
- Modals
- Labels and Badges
- Progress Bars
- Content Sections
- Team
- Recent Posts
- Clients
- Portfolio
- Comments
- Blog
- Portfolio
- Footer
- Timeline
- Google Map
- Media Queries
*/
@import url('http://fonts.googleapis.com/css?family=Nunito:300,400,700');
/* Common Styles */
body { background:#FFF; font:normal 14px Nunito, sans-serif; font-weight:300; color:#8F8F8F; height:100%; line-height:1.6; min-height:100% !important; margin-top:80px }
html { min-height:100% !important }
/* WebKit/Blink Browsers */
::selection { background:#FF7454; color:#FFF; box-shadow:0 }
/* Gecko Browsers */
::-moz-selection { background:#FF7454; color:#FFF; box-shadow:0 }
pre[class*="htmlCodeCollapse"] { border-radius:4px; margin:0 0 1.336em 0; padding:.3em 1em 1em 1em; font-size:1.125em }
a { color:#FF7454; cursor:pointer }
a:hover { color:#FF7454; text-decoration:underline; cursor:pointer }
.link-white a { color:#FFF !important }
.link-white a:hover { color:#FAFAFA; text-decoration:none }
.center-vertically { display:table-cell; text-align:center; vertical-align:middle }
.center-vertically-left { display:table-cell; text-align:left; vertical-align:middle }
.center-vertically-right { display:table-cell; text-align:right; vertical-align:middle }
.border-bottom-none { border-bottom:0 !important }
.border-top-white { border-top:2px solid #FFF }
.border-top { border-top:1px dotted #D2D2D2 }
.border-bottom { border-bottom:1px dotted #D2D2D2 }
.border { border:1px solid #EBEBEB }
.border-white { border:1px solid #FFF !important }
.no-border { border:0 !important }
.no-padding { padding:0 !important }
.no-margin { margin:0 !important }
.no-border-radius { border-radius:0 !important }
.br-50 { border-radius:50% !important }
.br-2 { border-radius:2px !important }
.full-width { width:100% }
.pt10 { padding-top:10px !important }
.pt15 { padding-top:15px !important }
.pt20 { padding-top:20px !important }
.pt30 { padding-top:30px !important }
.pt40 { padding-top:40px !important }
.pt50 { padding-top:50px !important }
.pt60 { padding-top:60px !important }
.pt100 { padding-top:100px !important }
.pb10 { padding-bottom:10px !important }
.pb15 { padding-bottom:15px !important }
.pb20 { padding-bottom:20px !important }
.pb30 { padding-bottom:30px !important }
.pb40 { padding-bottom:40px !important }
.pb50 { padding-bottom:50px !important }
.pb60 { padding-bottom:60px !important }
.pb100 { padding-bottom:100px !important }
.mt0 { margin-top:0 }
.mt5 { margin-top:5px !important }
.mt10 { margin-top:10px !important }
.mt15 { margin-top:15px !important }
.mt20 { margin-top:20px !important }
.mt30 { margin-top:30px !important }
.mt40 { margin-top:40px !important }
.mt50 { margin-top:50px !important }
.mt100 { margin-top:100px !important }
.mb0 { margin-bottom:0 }
.mb5 { margin-bottom:5px !important }
.mb10 { margin-bottom:10px !important }
.mb15 { margin-bottom:15px !important }
.mb20 { margin-bottom:20px !important }
.mb30 { margin-bottom:30px !important }
.mb40 { margin-bottom:40px !important }
.mb50 { margin-bottom:50px !important }
.mb100 { margin-bottom:100px !important }
.mg5 { margin:5px !important }
.p15 { padding:15px !important }
.ml15 { margin-left:15px !important }
.mr15 { margin-right:15px !important }
.ml20 { margin-left:20px !important }
.mr20 { margin-right:20px !important }
.background-light-grey { background-color:#FAFAFA !important }
.background-white { background-color:#FFF !important }
.background-main { background-color:#FF7454 !important }
.container-header { padding-left:0; padding-right:0 }
.success-rw { background-color:#2ECC71 }
section { overflow:hidden }
/* Typography */
h1, h2, h3, h4, h5, h6 { color:#8A8A8A; font-family:Nunito, sans-serif; font-weight:400; margin:0 0 14px }
h1 { font-weight:700; text-transform:uppercase }
h2 { font-weight:700; text-transform:uppercase }
h3 { font-size:24px; font-weight:300 }
.text-muted { color:#D1D1D1; font-weight:400 }
.text-success { font-weight:400 }
.text-info { font-weight:400 }
.text-primary { font-weight:400; color:#FF7454 }
.text-warning { font-weight:400 }
.text-danger { font-weight:400 }
.no-lineheight { line-height:0 !important }
.heavy { font-weight:600 !important }
.text-white { color:#FFF !important }
.text-main { color:#FF7454 !important }
.text-dark { color:#272727 !important }
.text-light-grey { color:#CBCBCB }
blockquote:before { content:'\f10d'; font-family:FontAwesome; margin-right:0.5em; margin-right:20px; float:left; font-size:21px;margin-top:-5px }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small { font-weight:300; font-family:Nunito; padding-left:10px }
mark { background:#FF7454; color:#FFF; padding:1px 4px 2px }
ul.list-arrow { list-style-type:none }
ul.list-arrow li { text-indent:-1.3em }
ul.list-arrow li:before { font-family:FontAwesome; content:"\f0da"; float:left; width:1.3em }
ul.list-arrow-color { list-style-type:none }
ul.list-arrow-color li { text-indent:-1.3em }
ul.list-arrow-color li:before { font-family:FontAwesome; content:"\f0da"; float:left; color:#FF7454; width:1.3em }
ul.list-arrow-2 { list-style-type:none }
ul.list-arrow-2 li { text-indent:-1.6em }
ul.list-arrow-2 li:before { font-family:FontAwesome; content:"\f0a9"; float:left; width:1.6em }
ul.list-arrow-2-color { list-style-type:none }
ul.list-arrow-2-color li { text-indent:-1.6em }
ul.list-arrow-2-color li:before { font-family:FontAwesome; content:"\f0a9"; float:left; color:#FF7454; width:1.6em }
.popover { border-radius:2px }
.pagination > li:first-child > a, .pagination > li:first-child > span { border-top-left-radius:0; border-bottom-left-radius:0 }
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color:#FF7454;
    border-color:#FF7454;
}
.pagination > li > a, .pagination > li > span {
    padding:8px 14px;
    color:#FF7454;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color:#FFF;
    background-color:#FF7454;
    border-color:#FF8B70;
}
/* Buttons */
.btn-rw {
    border-radius:2px;
    font-family:Nunito, sans-serif;
    font-weight:300;
    border:0;
}
.btn {
    border-radius:2px;
    padding:9px 14px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline:none;
}
.btn-rw.btn-default {
    color:#FFF;
    background-color:#272727;
    -webkit-box-shadow:0px 2px 0px rgba(56, 56, 56, 0.9);
    -moz-box-shadow:0px 2px 0px rgba(56, 56, 56, 0.9);
    box-shadow:0px 2px 0px rgba(56, 56, 56, 0.9);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.btn-rw.btn-default:hover, .btn-rw.btn-default:focus {
    background-color:#444;
    -webkit-box-shadow:0px 2px 0px #444;
    -moz-box-shadow:0px 2px 0px #444;
    box-shadow:0px 2px 0px #444;
}
.btn-rw.btn-default-inverted {
    color:#272727;
    background-color:#FFF;
    -webkit-box-shadow:0px 2px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow:0px 2px 0px rgba(255, 255, 255, 0.5);
    box-shadow:0px 2px 0px rgba(255, 255, 255, 0.5);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.btn-rw.btn-default-inverted:hover, .btn-rw.btn-default-inverted:focus {
    background-color:#FFF;
    color:#323232;
    -webkit-box-shadow:0px 2px 0px #FFF;
    -moz-box-shadow:0px 2px 0px #FFF;
    box-shadow:0px 2px 0px #FFF;
}
.btn-rw.btn-primary {
    color:#FFF;
    background-color:#FF7454;
    -webkit-box-shadow:0px 2px 0px rgba(255, 116, 84, 0.5);
    -moz-box-shadow:0px 2px 0px rgba(255, 116, 84, 0.5);
    box-shadow:0px 2px 0px rgba(255, 116, 84, 0.5);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.btn-rw.btn-primary:hover, .btn-rw.btn-primary:focus {
    background-color:#F9856A;
    -webkit-box-shadow:0px 2px 0px #F9856A;
    -moz-box-shadow:0px 2px 0px #F9856A;
    box-shadow:0px 2px 0px #F9856A;
}
.btn-rw.btn-info {
    color:#FFF;
    background-color:#5BC0DE;
    -webkit-box-shadow:0px 2px 0px rgba(91, 192, 222, 0.5);
    -moz-box-shadow:0px 2px 0px rgba(91, 192, 222, 0.5);
    box-shadow:0px 2px 0px rgba(91, 192, 222, 0.5);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.btn-rw.btn-info:hover, .btn-rw.btn-info:focus {
    background-color:#76DAF7;
    -webkit-box-shadow:0px 2px 0px #76DAF7;
    -moz-box-shadow:0px 2px 0px #76DAF7;
    box-shadow:0px 2px 0px #76DAF7;
}
.btn-rw.btn-danger {
    color:#FFF;
    background-color:#D9534F;
    -webkit-box-shadow:0px 2px 0px rgba(217, 83, 79, 0.5);
    -moz-box-shadow:0px 2px 0px rgba(217, 83, 79, 0.5);
    box-shadow:0px 2px 0px rgba(217, 83, 79, 0.5);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.btn-rw.btn-danger:hover, .btn-rw.btn-danger:focus {
    background-color:#EF716E;
    -webkit-box-shadow:0px 2px 0px #EF716E;
    -moz-box-shadow:0px 2px 0px #EF716E;
    box-shadow:0px 2px 0px #EF716E;
}
.btn-rw.btn-warning {
    color:#FFF;
    background-color:#F0AD4E;
    -webkit-box-shadow:0px 2px 0px rgba(240, 173, 78, 0.5);
    -moz-box-shadow:0px 2px 0px rgba(240, 173, 78, 0.5);
    box-shadow:0px 2px 0px rgba(240, 173, 78, 0.5);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.btn-rw.btn-warning:hover, .btn-rw.btn-warning:focus {
    background-color:#FFC067;
    -webkit-box-shadow:0px 2px 0px #FFC067;
    -moz-box-shadow:0px 2px 0px #FFC067;
    box-shadow:0px 2px 0px #FFC067;
}
.btn-rw.btn-success {
    color:#FFF;
    background-color:#5CB85C;
    -webkit-box-shadow:0px 2px 0px rgba(92, 184, 92, 0.5);
    -moz-box-shadow:0px 2px 0px rgba(92, 184, 92, 0.5);
    box-shadow:0px 2px 0px rgba(92, 184, 92, 0.5);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.btn-rw.btn-success:hover, .btn-rw.btn-success:focus {
    background-color:#72CC72;
    -webkit-box-shadow:0px 2px 0px #72CC72;
    -moz-box-shadow:0px 2px 0px #72CC72;
    box-shadow:0px 2px 0px #72CC72;
}
.btn-rw.btn-royal {
    background-color:#D3D3D3;
    color:#FFF;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.btn-rw.btn-royal:hover, .btn-rw.btn-royal:focus {
    background-color:#C3C3C3;
}
.btn-rw.btn-clear {
    background-color:transparent;
    color:#FFF;
    border:2px solid #FFF;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.btn-rw.btn-clear:hover, .btn-rw.btn-clear:focus {
    background-color:rgba(255, 255, 255, 0.33);
}
.btn-social-icon { border-radius:2px }
.btn-social { border-radius:2px }
.btn-social-icon :first-child { color:#FFF }
.btn-social :first-child { color:#FFF }
.btn-social { color:#FFF !important }
.btn-lg {
    padding:10px 19px;
    font-size:18px;
}
/* Alerts */
.alert {
    font-weight:400;
    border-radius:2px;
}
.alert-success-rw {
    background-color:#2ECC71;
    color:#FFF;
    border-left:6px solid #19AA56;
    border-top:0;
    border-bottom:0;
    border-right:0;
}
.alert-info-rw {
    background-color:#3498DB;
    color:#FFF;
    border-left:6px solid #237DB9;
    border-top:0;
    border-bottom:0;
    border-right:0;
}
.alert-warning-rw {
    background-color:#F39C12;
    color:#FFF;
    border-left:6px solid #DA8A0C;
    border-top:0;
    border-bottom:0;
    border-right:0;
}
.alert-danger-rw {
    background-color:#E74C3C;
    color:#FFF;
    border:0;
    border-left:6px solid #CC3B2C;
    border-top:0;
    border-bottom:0;
    border-right:0;
}
.alert-clear {
    border-color:#D2D2D2;
}
.close {
    opacity:.4;
}
.alert-success-rw .close:hover, .close:focus { color:#FFF; opacity:1 }
.alert-info-rw .close:hover, .close:focus { color:#FFF; opacity:1 }
.alert-warning-rw .close:hover, .close:focus { color:#FFF; opacity:1 }
.alert-danger-rw .close:hover, .close:focus { color:#FFF; opacity:1 }
.alert-success-rw .alert-link { color:#FFF; text-decoration:underline }
.alert-info-rw .alert-link { color:#FFF; text-decoration:underline }
.alert-warning-rw .alert-link { color:#FFF; text-decoration:underline }
.alert-danger-rw .alert-link { color:#FFF; text-decoration:underline }
/* Icon Fonts */
.bordered-icon-lg {
    border-radius:0;
    font-size:34px !important;
    border:1px solid #D2D2D2;
    border-radius:50%;
    color:#FF7454;
    background-color:transparent;
    padding-top:28px;
    height:90px;
    text-align:center;
    width:90px;
}
.bordered-icon-lg:hover, .bordered-icon-lg:focus {
    background-color:#FF7454;
    border-color:transparent;
    color:#FFF;
    -webkit-transition:color 0.5s ease;
    -moz-transition:color 0.5s ease;
    -o-transition:color 0.5s ease;
    transition:color 0.5s ease;
}
.bordered-icon-sm {
    border:1px solid #D2D2D2;
    border-radius:50%;
    color:#FF7454;
    background-color:transparent;
    text-align:center;
    font-size:26px !important;
    line-height:58px;
    height:60px;
    width:60px;
    display:inline-block;
}
.bordered-icon-sm:hover, .bordered-icon-sm:focus {
    background-color:#FF7454;
    border-color:transparent;
    color:#FFF;
    -webkit-transition:color 0.5s ease;
    -moz-transition:color 0.5s ease;
    -o-transition:color 0.5s ease;
    transition:color 0.5s ease;
}
.bordered-icon-xs {
    border-radius:0;
    border:1px solid #D2D2D2;
    border-radius:50%;
    color:#FF7454;
    background-color:transparent;
    text-align:center;
    font-size:13px;
    padding-top:8px;
    height:30px;
    width:30px;
}
.bordered-icon-xs:hover, .bordered-icon-xs:focus {
    background-color:#FF7454;
    border-color:transparent;
    color:#FFF;
    -webkit-transition:color 0.5s ease;
    -moz-transition:color 0.5s ease;
    -o-transition:color 0.5s ease;
    transition:color 0.5s ease;
}
.bordered-icon-static-lg {
    border-radius:0;
    font-size:34px !important;
    border:1px solid #D2D2D2;
    border-radius:50%;
    color:#FF7454;
    background-color:transparent;
    padding-top:28px;
    height:90px;
    text-align:center;
    width:90px;
}
.bordered-icon-static-sm {
    border-radius:0;
    border:1px solid #D2D2D2;
    border-radius:50%;
    color:#FF7454;
    background-color:transparent;
    text-align:center;
    font-size:21px;
    padding-top:20px;
    height:60px;
    width:60px;
}
.bordered-icon-static-xs {
    border-radius:0;
    border:1px solid #D2D2D2;
    border-radius:50%;
    color:#FF7454;
    background-color:transparent;
    text-align:center;
    font-size:13px;
    padding-top:8px;
    height:30px;
    width:30px;
}
.bordered-icon-color {
    background-color:#FF7454;
    color:#FFF !important;
    border:1px solid transparent;
}
.bordered-icon-color:hover, .bordered-icon-color:focus {
    border:1px solid #D2D2D2;
    color:#FF7454;
}
.bordered-icon-dark {
    background-color:transparent;
    color:#4D4D4D;
    border:1px solid #4D4D4D;
}
.bordered-icon-dark:hover, .bordered-icon-dark:focus {
    border:1px solid transparent;
    background-color:#FF7454;
    -webkit-transition:color 0.1s ease;
    -moz-transition:color 0.1s ease;
    -o-transition:color 0.1s ease;
    transition:color 0.1s ease;
}

/* Navigation */
.navbar {
    border-radius:0;
    border:0;
    background-color:#FFF;
    font-family:Nunito, sans-serif;
    font-size:14px;
    font-weight:400;
    margin:0;
    -moz-box-shadow:0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow:0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    z-index:9;
}
.navbar-brand {
    height:80px;
    padding:25px 15px;
    letter-spacing:0;
    font-weight:900;
    color:#FF7454;
    text-transform:uppercase;
    font-family:Nunito, sans-serif;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.css-logo { float:left; margin-right:8px; height:19px; width:19px; border-radius:19px; background-color:#FF7454; margin-top:5px }
.tyloo-logo {
    width:188px;
    height:30px;
    float:right;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left:0;
}
.navbar-brand:hover {
    opacity:0.7;
}
.navbar-toggle .icon-bar {
    background-color:#8F8F8F;
    height:1px;
}
.navbar-toggle:hover .icon-bar {
    background-color:#FFF;
}
.navbar-toggle {
    border:1px solid #8F8F8F;
    border-radius:2px;
    margin-top:25px;
}
.navbar-toggle:hover {
    border:1px solid #FF7454;
    background-color:#FF7454;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    transition:color 0.3s ease;
}
.navbar ul.nav a {
    color:#8F8F8F;
    background:transparent;
    text-transform: uppercase;
}
.navbar ul.nav a:hover {
    color:#FFF;
    background-color:#FF7454;
    -webkit-transition:color 0.1s ease;
    -moz-transition:color 0.1s ease;
    -o-transition:color 0.1s ease;
    transition:color 0.1s ease;
}
.navbar .nav li.active a {
    color:#FFF;
    background-color:#FF7454;
}
.navbar .navbar-nav li a {
    padding-top:0;
    line-height:80px;
    padding-bottom:0;
}
.navbar .dropdown-menu > li > a {
    line-height:2.66 !important;
    border-bottom:1px solid #F0F0F0;
}
.dropdown-arrow {
    font-size:10px;
    padding-left:7px;
}
.navbar .navbar-nav .open .dropdown-menu > li > a, .navbar .navbar-nav .open .dropdown-menu {
    background-color:#FFF;
    color:#8F8F8F;
    outline:none;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color:#FF7454;
    color:#FFF;
}
.navbar .dropdown-menu {
    border:2px solid #FF7454;
    border-radius:0;
    box-shadow:none;
    font-size:12px;
    min-width:210px;
    box-shadow:0px 2px 8px rgba(0, 0, 0, 0.1);
}
.navbar .dropdown-menu > li:last-child > a {
    border:0;
}
.dropdown-submenu { position:relative }
.dropdown-submenu > .dropdown-menu { top:0; left:100%; margin:0 }
.dropdown-submenu:active > .dropdown-menu { display:block }
.dropdown-submenu > a:after { display:block; content:" "; float:right; width:0; height:0; border-color:transparent; border-style:solid; border-width:3px 0 3px 3px; border-left-color:#CCC; margin-top:13px; margin-right:-5px }
.dropdown-submenu > a:hover:after { border-left-color:#FFF }
.dropdown-submenu.pull-left { float:none }
.dropdown-submenu.pull-left > .dropdown-menu { left:-100%; margin-left:10px }
.submenu-arrow { padding-top:10px }
.trigger { cursor:pointer }
.dropdown-form {
    min-width:250px;
}
.navbar .btn-primary { margin-top:-1px }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color:#FF7454 !important;
    color:#FFF !important;
}
.navbar-collapse {
    background:#FFF;
}
.mfp-fade.mfp-bg {
    opacity:0;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    transition:all .4s ease-out;
}
.search-input { height:2.41em !important }
.search-btn { padding:6px 12px }
.navbar .navbar-nav li.navbar-social a {
    line-height: 1;
    margin: 29px 0 29px 8px;
    color: #FFF;
    background-color: #FF7454;
    padding: 9px 10px;
}

/* Sidebar Navigation */
ul.sidebar-nav > li > span.badge {
    margin-top:12px;
    margin-right:6px;
}
.list-group-item:first-child,
.list-group-item:last-child,
ul.sidebar-nav {
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.sidebar-nav .list-group-item:first-child {
    padding:25px;
}
.sidebar-nav-normal-1stchild .list-group-item:first-child {
    padding:0 !important;
}
ul.sidebar-nav li {
    list-style:none;
}
ul.sidebar-nav ul {
    margin:0;
    padding:0;
    background-color:#FAFAFA;
}
ul.sidebar-nav ul li {
    padding:0 15px;
    border-bottom:#D2D2D2 1px solid;
}
ul.sidebar-nav ul li:last-child {
    border-bottom:0;
}
ul.sidebar-nav a {
    display:block;
    text-decoration:none;
    color:#8F8F8F;
}
ul.sidebar-nav a i.fa {
    width:15px;
}
ul.sidebar-nav ul li a {
    padding:3px;
    font-size:12px;
    color:#979797;
}
ul.sidebar-nav > li {
    padding:0;
}
ul.sidebar-nav > li > a {
    padding:7px 12px;
}
ul.sidebar-nav > li.list-group-item.active {
    border:#DDD 1px solid;
    background-color:transparent;
}
ul.sidebar-nav > li.active > a {
    background-color:#FF7454;
}
ul.sidebar-nav ul li a:hover,
ul.sidebar-nav ul li.active > a {
    background-color:transparent !important;
    color:#FF7454 !important;
}
ul.sidebar-nav > li.active > a {
    color:#FFF !important;
}
.list-group-item {
    background:transparent;
    font-size:12px;
    border:1px solid #DDD;
}
ul.sidebar-nav a:hover, ul.sidebar-nav ul li.active > a {
    background-color:#FF7454;
    color:#FFF;
}
ul.sidebar-nav li.list-toggle:after {
    content:"\f10a";
    font-family:Ionicons;
    position:absolute;
    font-size:8px;
    right:15px;
    top:12px;
    color:#CCC;
}
ul.sidebar-nav li.list-toggle.active:after {
    content:"\f104";
    color:#FFF;
}
ul.sidebar-nav li.list-toggle:hover:after {
    color:#FFF;
}
/* Forms */
.form-control:focus { border-color:#BABABA; outline:0; -webkit-box-shadow:none; box-shadow:none }
.input-group-addon {
    background-color:#FFF;
}
input[type=checkbox] {
    margin:6px 0 0;
}
.form-control {
    border-radius:2px;
    border:1px solid #CCC;
    -webkit-box-shadow:none;
    box-shadow:none;
    height:40px;
}
/* Zoom Fade */
.mfp-fade.mfp-bg.mfp-ready { opacity:0.8 }
.mfp-fade.mfp-bg.mfp-removing { opacity:0 }
.mfp-fade.mfp-wrap .mfp-content { opacity:0; -webkit-transition:all .4s ease-out; -moz-transition:all .4s ease-out; transition:all .4s ease-out }
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity:1 }
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity:0 }
.mfp-figure:after { box-shadow:0 0 4px rgba(0, 0, 0, 0.3) !important }
/* Carousel */
.carousel, .carousel .item { border-radius:0 }
.carousel-inner { background-color:#272727; border-radius:0 }
.fill { width:100%; height:100%; background-size:cover }
.fullscreen-carousel .carousel, .fullscreen-carousel .carousel .item { height:100% }
.fullscreen-carousel .carousel-inner { height:100%; background-color:#272727; border-radius:0 }
.fullscreen-carousel { height:100%; margin-top:-121px }
.fullscreen-carousel .item { height:100% }
.fs-item { height:100%; margin-top:121px }
.carousel-indicators { z-index:7 }
.carousel-nav { display:initial !important }
.carousel-nav.nav-pills > li > a { border-radius:0 }
.carousel-nav.nav-pills > li.active > a, .carousel-nav.nav-pills > li.active > a:focus, .carousel-nav.nav-pills > li.active > a:hover { color:#FFF; background-color:#FF7454 }
.carousel-nav.nav > li > a { padding:20px 15px; background-color:#FFF; color:#A9A9A9; border-bottom:1px dotted #BABABA; border-right:1px dotted #BABABA }
.carousel-nav.nav > li > a:hover, .carousel-nav.nav > li > a:focus { color:#A9A9A9; background-color:#F4F4F4 }
.carousel-nav small { display:block }
.carousel-description { color:#FFF; font-size:18px }
.carousel-title-bg {
    background-color:#FF7454;
    padding:7px 12px 7px 12px;
    line-height:1.5;
}
.carousel-title-bglight {
    background-color:#FFF;
    padding:7px 12px 7px 12px;
    line-height:1.5;
}
.carousel-title-bgdark {
    background-color:#272727;
    padding:7px 12px 7px 12px;
    line-height:1.5;
}
.carousel-title-bgclear {
    padding:7px 12px 7px 12px;
    border:2px solid #FFF;
    line-height:1.5;
}
.carousel-hr {
    color:#FFF;
    height:3px;
    width:50px;
    color:#FFF;
    background:#FFF;
    font-size:0;
    border:0;
}
.carousel-content {
    height:550px;
}
.carousel-dark {
    color:#CCC;
    height:3px;
    width:50px;
    color:#CCC;
    background:#CCC;
    font-size:0;
    border:0;
}
.carousel-caption {
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
    left:auto;
    right:auto;
    bottom:0;
    padding:20px;
}
.carousel-control { width:10%; text-shadow:none; font-size:42px }
.carousel-control.right { background-image:none }
.carousel-control.left { background-image:none }
.fullscreen-carousel .carousel-control.right { top:121px }
.fullscreen-carousel .carousel-control.left { top:121px }
#carouselSubnav .carousel-control.right { margin-bottom:60px }
#carouselSubnav .carousel-control.left { margin-bottom:60px }
.carousel-title { font-weight:600; color:#FFF }
.carousel-control .carousel-arrow-left,
.carousel-control .carousel-arrow-right {
    position:absolute;
    top:50%;
    left:50%;
    z-index:5;
    display:inline-block;
    width:20px;
    height:20px;
    margin-top:-20px;
    margin-left:-10px;
}
.carousel-indicators-caption { bottom:auto; top:15px }
.carousel-indicators-caption-fs { bottom:auto; top:150px }
.carousel-indicators li { border:0; background-color:#E1E1E1 }
.carousel-fade .carousel-inner .item {
    opacity:0;
    -webkit-transition-property:opacity;
    -moz-transition-property:opacity;
    -o-transition-property:opacity;
    transition-property:opacity;
}
.carousel-fade .carousel-inner .active { opacity:1 }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right { left:0; opacity:0; z-index:1 }
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity:1 }
.carousel-fade .carousel-control { z-index:2 }
.carousel-item1 { background-image:url('../img/backgrounds/bg1.png') }
.carousel-item2 { background-image:url('../img/backgrounds/bg4.jpg') }
.carousel-item3 { background-image:url('../img/backgrounds/bg5.jpg') }
/* Quote Carousel */
.quote-carousel .carousel, .quote-carousel .carousel .item { height:300px }
.quote-carousel .carousel-inner { height:300px; background-color:#272727; border-radius:0 }
.quote-carousel-content { height:300px }
blockquote footer, blockquote small, blockquote .small { font-size:80%; color:#8F8F8F }
blockquote {
    background-color:#FAFAFA;
    color:#8A8A8A;
    padding:25px 20px;
    font-size:14px;
}
.quote-carousel-control .quote-carousel-arrow-left,
.quote-carousel-control .quote-carousel-arrow-right {
    display:inline-block;
    position:relative;
    top:106px;
    z-index:5;
    margin-right:-15px;
    margin-left:-15px;
}
/* Owl Carousel */
#owl-carousel-thumb .thumbnail {
    position:relative;
    overflow:hidden;
    z-index:1;
    margin-bottom:30px;
}
#owl-carousel-thumb .thumbnail .caption {
    position:absolute;
    top:-100%;
    right:0;
    background-color:rgba(255, 116, 84, 0.8);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#FFF !important;
    z-index:2;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    white-space:nowrap;
}
#owl-carousel-thumb .thumbnail .caption h4,
#owl-carousel-thumb .thumbnail .caption h3,
#owl-carousel-thumb .thumbnail .caption h2 { margin-bottom:10px }
#owl-carousel-thumb .thumbnail .caption:before {
    content:"";
    display:inline-block;
    vertical-align:middle;
    width:0;
    margin-right:-.25em;
    height:100%;
}
#owl-carousel-thumb .thumbnail-caption-holder {
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
}
#owl-carousel-thumb .thumbnail:hover .caption { top:0% }
/* Content Boxes */
.content-box { padding:20px 30px; text-align:center; margin-bottom:20px }
.content-box-bordered { border:1px solid #DADADA }
.content-box-default {
    background:#CCC;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.content-box-hover:hover {
    color:#838383;
    -webkit-box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.07);
    box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.07);
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.content-box-default:hover { background:#AAA; border-bottom:5px solid #272727 }
.content-box-primary { background:#FF7454 }
.content-box-success { background:#5CB85C }
.content-box-info { background:#5BC0DE }
.content-box-warning { background:#F0AD4E }
.content-box-danger { background:#D9534F }
/* Heading */
.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
    margin:0 0 -2px 0;
    padding-bottom:15px;
    display:inline-block;
    border-bottom:2px solid #FF7454;
}
.heading {
    display:block;
    margin:0 0 20px 0;
    border-bottom:1px dotted #D2D2D2;
    font-size:12px;
}
.heading.no-margin {
    border-bottom: none;
}
.heading.no-margin h4 {
    border-bottom:none;
    padding-bottom:0;
}
.no-margin-bottom {
    margin-bottom:1px;
}
.heading-caption {
    font-size:12px;
    font-family:Nunito, sans-serif;
    position:absolute;
    line-height:1.4;
    padding-left:25px;
    padding-top:4px;
}
/* Header 1 and 2 */
.header { padding:21px 0 21px 0; border-bottom:1px dotted #D2D2D2; background: #FF7454 url('../img/backgrounds/bg1.png') }
.header h1 {
    font-size:16px;
    margin:0;
    padding-top:4px;
    font-weight:700;
    text-transform:uppercase;
}
.breadcrumb {
    padding:0;
    margin-bottom:0;
    list-style:none;
    float:right;
    background-color:transparent;
    border-radius:0;
    font-size:12px;
    margin-top:2px;
}
.breadcrumb-home {
    padding-right:6px;
}
.breadcrumb a {
    color:#8F8F8F;
}
/* Panels */
.panel {
    border-radius:2px !important;
    border:1px solid #E6E9ED;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .02);
    box-shadow:0 1px 1px rgba(0, 0, 0, .02);
}
.panel-default > .panel-heading {
    background-color:#FAFAFA;
}
.panel-title { font-family:Nunito, sans-serif }
.panel-title > a {
    font-size:14px;
    font-family:Nunito, sans-serif;
    color:#8A8A8A;
}
.panel-title > a:hover {
    color:#FF7454;
    text-decoration:none;
    -webkit-transition:color 0.5s ease;
    -moz-transition:color 0.5s ease;
    -o-transition:color 0.5s ease;
    transition:color 0.5s ease;
}
.panel-group .panel-title:after {
    content:"+";
    font-size:14px;
    position:absolute;
    right:35px;
    margin-top:2px;
    color:#BABABA;
}
.panel-group {
    margin-bottom:15px;
}
label { font-weight:600 }
.panel-primary { border-color:#FF7454 }
.panel-primary > .panel-heading { background-color:#FF7454; border-color:#FF7454; border-radius:0 }
.panel-success { border-color:#2ECC71 }
.panel-success > .panel-heading { background-color:#2ECC71; border-color:#2ECC71; border-radius:0; color:#FFF }
.panel-info { border-color:#3498DB }
.panel-info > .panel-heading { background-color:#3498DB; border-color:#3498DB; border-radius:0; color:#FFF }
.panel-warning { border-color:#DA8A0C }
.panel-warning > .panel-heading { background-color:#DA8A0C; border-color:#DA8A0C; border-radius:0; color:#FFF }
.panel-danger { border-color:#E74C3C }
.panel-danger > .panel-heading { background-color:#E74C3C; border-color:#E74C3C; border-radius:0; color:#FFF }
.panel-footer {
    padding:10px 15px;
    background-color:#FAFAFA;
}
/* Tabs */
.tab-content {
    padding:20px;
    border:1px solid #E6E9ED;
    border-top:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border:1px solid #E6E9ED;
    border-bottom-color:transparent;
    border-top:5px solid #FF7454;
}
.nav-tabs > li > a {
    color:#555;
    border-radius:2px 2px 0 0;
    border-top:2px solid transparent;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.nav > li > a:hover, .nav > li > a:focus { background-color:transparent; color:#FF7454 }
.nav-tabs > li > a:hover { border-color:transparent }
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-top:5px solid #FF7454;
}
.nav-tabs.nav-justified > li > a { border-radius:2px 2px 0 0; border-bottom:1px solid #DDD }
.nav-justified > li > a { margin-bottom:0 }
.nav-tabs.nav-justified > li > a { margin-bottom:0 }
/* Timeline */
.timeline {
    list-style:none;
    padding:60px 0 60px;
    position:relative;
}
.timeline > li { margin-bottom:20px; position:relative }
.timeline > li:last-child { margin-bottom:0 }
.timeline > li:before, .timeline > li:after { content:" "; display:table }
.timeline > li:after { clear:both }
.timeline > li:before, .timeline > li:after { content:" "; display:table }
.timeline > li:after { clear:both }
.timeline > li > .timeline-panel {
    width:100%;
    float:left;
    border:1px dotted #D2D2D2;
    border-radius:2px;
    padding:20px;
    position:relative;
    background-color:#FFF;
}
.timeline-title { margin-top:0; color:inherit }
.timeline-body > p,
.timeline-body > ul { margin-bottom:0 }
.timeline-body > p + p { margin-top:5px }
/* Thumbnails */
.thumbnail { padding:6px; border-radius:0 }
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active { border-color:#FF7454 }
.thumbnail .caption { padding:25px 15px 15px 15px; color:#8F8F8F; line-height:25px }
.custom-content.thumbnail {
    padding:10px;
    margin-bottom:20px;
    background-color:#FFF;
    border:1px solid #E6E9ED;
    border-radius:0;
}
.custom-content.thumbnail:hover {
    -webkit-box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.07);
    box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.07);
    border-bottom:5px solid #FF7454;
}
.custom-content.thumbnail:hover img {
    margin-bottom:2px;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
/* Shadows */
.shadow1 { -webkit-box-shadow:0 10px 6px -6px #B9B9B9; -moz-box-shadow:0 10px 6px -6px #B9B9B9; box-shadow:0 10px 6px -6px #B9B9B9 }
.shadow2 { -webkit-box-shadow:-9px 0 4px -4px #B9B9B9; -moz-box-shadow:-9px 0 4px -4px #B9B9B9; box-shadow:-9px 0 4px -4px #B9B9B9 }
.shadow3 { -webkit-box-shadow:0 28px 16px -26px #1D1D1D; -moz-box-shadow:0 28px 16px -26px #1D1D1D; box-shadow:0 28px 16px -26px #1D1D1D }
/* Dividers */
hr { border-top:1px dotted #D2D2D2; margin-top:30px; margin-bottom:30px }
.hr-solid { border-top:1px solid #D2D2D2; margin-top:30px; margin-bottom:30px }
.hr-lg-margin { border-top:1px dotted #D2D2D2; margin-top:50px; margin-bottom:40px }
.dark-hr { border-top:1px dotted #4C4C4C }
.double-hr {
    border:0;
    height:4px;
    border-top:#D2D2D2 1px dotted;
    border-bottom:#D2D2D2 1px dotted;
    text-align:center;
    position:relative;
    clear:both;
}
.double-hr-solid {
    border:0;
    height:4px;
    border-top:#D2D2D2 1px solid;
    border-bottom:#D2D2D2 1px solid;
    text-align:center;
    position:relative;
    clear:both;
}
/* Modals */
.modal-content { border-radius:2px; box-shadow:0px 2px 8px rgba(0, 0, 0, 0.2); border:0 }
.modal-header { background-color:#FF7454 }
.modal-title { color:#FFF; text-transform:uppercase; font-weight:700 }
.modal .close { color:#FFF }
.modal .close:hover { opacity:0.9 }
/* Labels and Badges */
.label {
    font-family:Nunito, sans-serif;
    text-transform:none;
    font-weight:300;
    border-radius:2px;
}
.badge-square { border-radius:0 }
.badge-round { border-radius:2px }
.badge-primary { background-color:#FF7454; color:#FFF }
.label-primary { background-color:#FF7454 }
/* Progress Bars */
.progress-bar-primary { background-color:#FF7454 }
.progress-bar-dark { background-color:#272727 }
.progress {
    overflow:visible;
    background:#FAFAFA;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.progress.slim { height:3px }
.progress.thin { height:6px }
.progress-bar {
    position:relative;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.tooltip { position:fixed }
span.progress-bar-tooltip {
    padding:4px 8px;
    background-color:#2E363F;
    color:#FFF;
    line-height:15px;
    font-size:11px;
    display:block;
    position:absolute;
    top:-28px;
    right:5px;
    border-radius:2px;
}
span.progress-bar-tooltip:after {
    border-color:#2E363F transparent;
    border-style:solid;
    border-width:5px 5px 0;
    bottom:-5px;
    content:"";
    display:block;
    left:13px;
    position:absolute;
    width:0;
}
h6.progress-head { margin-bottom:2px }
/* Content Sections */
.content-60mg { margin:60px 0 60px 0 }
.content-60mg-bordered {
    margin:60px 0 60px 0;
    border-top:1px dotted #D2D2D2;
    border-bottom:1px dotted #D2D2D2;
}
.content-40mg { margin:40px 0 }
.content-40mg-bordered { margin:40px 0; border-top:1px dotted #D2D2D2; border-bottom:1px dotted #D2D2D2 }
.content-bordered { border-top:1px dotted #D2D2D2; border-bottom:1px dotted #D2D2D2 }
/* Recent Posts */
.portfolio .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { width:100% }
/* Clients */
.clients-img {
    border:1px solid #E6E9ED;
    background-color:#FAFAFA;
}
.clients-img:hover {
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    opacity:0.7;
}
/* Portfolio */
#myPortfolio .item {
    display:none;
    opacity:0;
}
#myPortfolio .border {
    height:230px
}
#portfolio .item {
    margin-bottom:30px;
}
#portfolio ul {
    margin-bottom:0;
}
.nav-pills {
    font-size:14px;
    font-weight:400;
    font-weight:300;
    display:inline-block;
}
#portfolio .nav-pills > li {
    float:none;
    display:inline-block;
    padding:2px 20px;
    cursor:pointer;
    font-size:14px;
    color:#8F8F8F;
    border:2px solid #EBEBEB;
    border-radius:2px;
    margin-left:20px;
    line-height:30px;
    font-family:Nunito, sans-serif;
}
#portfolio .nav-pills > li:hover {
    color:#FFF;
    background:#FF7454;
    border:2px solid #FF7454;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    transition:color 0.3s ease;
}
#portfolio .nav > li.active {
    color:#FFF;
    background:#FF7454;
    border:2px solid #FF7454;
}
#portfolio li {
    list-style-type:none;
}
#portfolio img {
    max-width:100%;
    width:100%;
}
.portfolio-title {
    font-size:14px;
    text-transform:none;
    color:#8F8F8F;
    font-weight:600;
    margin:0 0 5px !important;
}
.portfolio-hover-1 .mask {
    opacity:0;
    overflow:visible;
    background-color:rgba(255, 116, 84, 0.8);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.portfolio-hover-1 a.info {
    position:relative;
    text-decoration:none !important;
    border:0 !important;
    opacity:0;
    display:none;
    color:#FFF;
    -webkit-transition:opacity 0.5s 0s ease-in-out;
    -moz-transition:opacity 0.5s 0s ease-in-out;
    -o-transition:opacity 0.5s 0s ease-in-out;
    -ms-transition:opacity 0.5s 0s ease-in-out;
    transition:opacity 0.5s 0s ease-in-out;
}
.portfolio-hover-1:hover .mask {
    opacity:1;
    background-color:rgba(255, 116, 84, 0.5);
}
.portfolio-hover-1:hover a.info {
    opacity:1;
    display:inline-block;
    -moz-transition-delay:0.1s;
    -webkit-transition-delay:0.1s;
    -o-transition-delay:0.1s;
    -ms-transition-delay:0.1s;
    transition-delay:0.1s;
}
.view {
    margin:10px 10px 25px;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
.view-circle {
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
.view .mask, .view .content, .view-circle .mask, .view-circle .content {
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
.portfolio-hover-content {
    height:100%;
}
.portfolio-hover-content:before {
    content:' ';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}
.portfolio-icons {
    font-size:24px;
    line-height:2.1 !important;
}
.portfolio-icon-holder {
    background-color:#FF957D;
    border-radius:50%;
    width:50px;
    height:50px;
    display:inline-block;
}
.portfolio-icon-holder:hover {
    background-color:#FF8B71;
}
.portfolio-title a {
    color:#A1A1A1;
}
.portfolio-title a:hover {
    color:#FF7454;
    text-decoration:none;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
.project-category {
    font-size:12px;
    font-family:Nunito, sans-serif;
}
.portfolio-text {
    background-color:transparent;
    text-align:center;
    padding-top:6px;
    margin-bottom:30px;
    line-height:15px;
}
.portfolio-text-circle {
    background-color:transparent;
    text-align:center;
    padding:0 25px 0 25px;
    margin-bottom:10px;
    line-height:15px;
}
.port-borderless {
    margin:0 0 25px 0;
    width:100%;
}
/* Comments */
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after {
    content:"";
    display:table;
    clear:both;
}
.blog-comment ul {
    list-style-type:none;
    padding:0;
}
.blog-comment img {
    opacity:1;
    filter:Alpha(opacity=100);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
.blog-comment img.avatar {
    position:relative;
    float:left;
    margin-left:0;
    margin-top:0;
    width:65px;
    height:65px;
}
.blog-comment .post-comments {
    border:1px solid #EEE;
    margin-bottom:20px;
    margin-left:85px;
    margin-right:0px;
    padding:10px 20px;
    position:relative;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    background:#FAFAFA;
    color:#6B6E80;
    position:relative;
}
.blog-comment .meta {
    font-size:13px;
    color:#AAA;
    padding-bottom:8px;
    margin-bottom:10px !important;
    border-bottom:1px solid #EEE;
}
.blog-comment ul.comments ul {
    list-style-type:none;
    padding:0;
    margin-left:85px;
}
.blog-comment-form {
    padding-left:15%;
    padding-right:15%;
    padding-top:40px;
}
/* Blog */
.blog-post .blog-post-holder {
    padding:30px 30px;
    background-color:#FFF;
    border:1px dotted #D2D2D2;
    border-top:0;
}
.blog-post h2 a {
    color:#767676;
    font-weight:400;
    font-size:21px;
}
.blog-post h2 a:active, .blog-post h2 a:hover {
    color:#FF7454;
}
.blog-post .list-inline {
    margin-bottom:5px;
    font-size:12px;
}
.latest-posts h3 a {
    font-size:14px;
    color:#767676;
}
.latest-posts h3 a:hover {
    color:#FF7454;
}
.latest-posts small {
    font-size:10px;
}
.latest-posts p {
    font-size:12px;
    margin-bottom:10px;
    border-bottom:1px dotted #D2D2D2;
    padding-bottom:15px;
}
.blog-heading {
    display:block;
    background:#FAFAFA;
    padding:1px 10px;
    margin:0 0 10px 0;
    border-left:2px solid #000;
    border:1px dotted #D2D2D2;
    border-left:3px solid #FF7454;
}
.blog-heading h3 {
    margin:7px 0;
    font-size:18px;
    color:#666;
}
.media-heading {
    line-height:1.5;
    font-size:13px;
}
.media-list { margin-bottom:0; font-weight:400 }
.media-list a { color:#767676; padding-left:0 }
.media-list a:hover { color:#FF7454 }
.media-list small { font-size:10px }
/* Footer */
.footer {
    padding:40px 0 30px 0;
    background-color:#272727;
    color:#8F8F8F;
    vertical-align:bottom;
}
.footer-light {
    padding:40px 0 30px 0;
    background-color:#FAFAFA;
    color:#8F8F8F;
    vertical-align:bottom;
    border-top:1px dotted #D2D2D2;
}
.footer-light p {
    margin:0 0 5px;
}
.footer-light a {
    font-weight:400;
}
.footer-light .thumbnail {
    padding:0;
    border:0;
    border-radius:0px;
    margin-bottom:0;
}
.footer-light .thumbnail:hover {
    outline:5px solid #FF7454;
}
.footer-light .heading-footer h2, .footer-light .heading-footer h3, .footer-light .heading-footer h4 {
    margin:0 0 -2px 0;
    padding-bottom:20px;
    display:inline-block;
    font-weight:400;
    border-bottom:2px solid #FF7454;
    font-family:Nunito, sans-serif;
    color:#A5A5A5;
    font-size:14px;
}
.footer-light .heading-footer {
    display:block;
    margin:0 0 25px 0;
    border-bottom:1px dotted #C3C3C3;
    font-size:12px;
}
.footer-light .address {
    color:#5E5E5E;
    font-weight:400;
    margin-top:20px;
}
.footer-light .copyright {
    color:#B1B1B1;
    font-size:12px;
    font-weight:400;
}
.scrolltop-holder {
    height:30px;
    width:30px;
    background-color:#CECECE;
    text-align:center;
    float:right;
}
.footer-light .footer-info-icons {
    padding-right:15px;
    color:#8B8B8B;
}
.address {
    color:#5E5E5E;
    font-weight:400;
    margin-top:20px;
}
.copyright {
    color:#646464;
    font-size:12px;
    font-weight:400;
}
footer p {
    margin:0 0 5px;
}
footer a {
    font-weight:400;
}
.footer-info-icons {
    padding-right:15px;
    color:#FFF;
}
.heading-footer h2, .heading-footer h3, .heading-footer h4 {
    margin:0 0 -2px 0;
    padding-bottom:20px;
    display:inline-block;
    font-weight:400;
    border-bottom:2px solid #FF7454;
    font-family:Nunito, sans-serif;
    color:#DEDEDE;
    font-size:14px;
}
.heading-footer {
    display:block;
    margin:0 0 25px 0;
    border-bottom:1px dotted #4C4C4C;
    font-size:12px;
}
.recent-work-padding {
    padding-left:0;
    padding-right:5px;
}
.footer .thumbnail {
    padding:0;
    border:0;
    border-radius:0px;
    margin-bottom:0;
}
.footer .thumbnail:hover {
    outline:5px solid #FF7454;
}
.scrolltop-holder {
    height:30px;
    width:30px;
    background-color:#353535;
    text-align:center;
    float:right;
}
.scroll-top {
    position:fixed;
    bottom:10px;
    right:10px;
}
.scrolltop {
    font-size:16px;
    color:#FFF;
    line-height:30px !important;
}
.scrolltop-holder:hover {
    background-color:#FF7454;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
.footer-plus-icon {
    font-size:28px;
    color:#FFF;
}
/* Timeline */
.timeline {
    list-style:none;
    padding:20px 0 20px;
    position:relative;
}
.timeline > li {
    margin-bottom:20px;
    position:relative;
}
.timeline > li:before,
.timeline > li:after {
    content:" ";
    display:table;
}
.timeline > li:after {
    clear:both;
}
.timeline > li:before,
.timeline > li:after {
    content:" ";
    display:table;
}
.timeline > li:after {
    clear:both;
}
.timeline > li > .timeline-panel {
    width:100%;
    float:left;
    border:1px solid #D4D4D4;
    border-radius:2px;
    padding:20px;
    position:relative;
    -webkit-box-shadow:0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow:0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline-title {
    margin-top:0;
    color:inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom:0;
}
.timeline-body > p + p {
    margin-top:5px;
}
/* Google Map */
.googleMap { margin-bottom:-7px }
.googleMap iframe { border:none; width:100% }

/* Media Queries */
/* Phones and down */
@media (max-width:480px) {
    .hero-title { font-size:32px }
    .carousel-title-bg { font-size:14px }
    .carousel-title-bgdark { font-size:14px }
    .carousel-title-bglight { font-size:14px }
    #about .heading { border-bottom:none !important }
    .heading-caption { margin-top:-8px; padding-top:0 }
    #recent-posts .thumbnail { margin:0 5% 30px 5% !important }
    #portfolio .nav-pills > li { margin-bottom:20px }
    .carousel-description { font-size:14px }
    .carousel-description h1, .carousel-description h2, .carousel-description h3 { font-size:17px }
    .carousel-content { height:450px }
}
/* Landscape phones and portrait tablets */
@media (max-width:767px) {
    .navbar .navbar-nav li a { line-height:3.4 }
    .navbar-collapse { -webkit-box-shadow:0px 3px 0px 0px rgba(0, 0, 0, 0.08); -moz-box-shadow:0px 3px 0px 0px rgba(0, 0, 0, 0.08); box-shadow:0px 3px 0px 0px rgba(0, 0, 0, 0.08) }
    .quote-carousel .carousel, .quote-carousel .carousel .item { height:450px }
    .quote-carousel .carousel-inner { height:450px; background-color:#272727 }
    .quote-carousel-content { height:450px }
    .carousel-image { display:none }
    .carousel-description { padding:0 10% 0 10% }
    .p15xs { padding:0 15% 0 15% }
    .ceo-name { text-align:center; margin:5px 0 5px !important }
    .company-name { text-align:center }
    .quote-img { display:block; margin:0 auto; padding:15px 0 21px }
    #about .tab-pane-border { margin:30px 25px 0 25px }
    .hero-image { padding:0 15% 0 15% }
    .hero-title { margin-top:50px }
    .showcase-image { padding-top:30px }
    .mg25-xs { margin-top:25px }
    .pt50 { padding-top:25px !important }
    .quote-carousel blockquote { font-size:14px; line-height:1.7 }
    #recent-posts .thumbnail { margin:0 15% 30px 15% }
    .dropdown-submenu > .dropdown-menu { margin-left:12px; padding:0 0; border-left:1px solid #F0F0F0 !important }
    .dropdown-menu > li:last-child > a { border-bottom:1px solid #F0F0F0 !important }
    .container-header { padding-left:15px; padding-right:15px }
    .breadcrumb { display:none }
    .content-60pd { padding:40px 0 40px 0 }
    .content-60pd-bordered { padding:40px 0 40px 0 }
    .mt30-lgscreen { margin-top:0 }
    .copyright { line-height:1.4 }
    .navbar-header { height:80px; border-bottom:1px solid #E0E0E0 }
    .panel-group .panel-title:after { display:none }
    .mt30-xs { margin-top:30px !important }
    .mt15-xs { margin-top:15px !important }
    .mt20-xs { margin-top:20px !important }
    .mb30-xs { margin-bottom:30px !important }
    .mb15-xs { margin-bottom:15px !important }
    .mb20-xs { margin-bottom:20px !important }
    .carousel-nav.nav > li > a { padding:8px 15px }
}
@media (min-width:768px) {
    .mt30-lg { margin-top:30px !important }
    .mt20-lg { margin-top:20px !important }
}
/* Portrait tablets and medium desktops */
@media (max-width:992px) {
    .mt15-md { margin-top:15px !important }
}
/* Portrait tablets and medium desktops */
@media (max-width:1199px) {
    .mt15-lg { margin-top:15px !important }
}
/* Desktop screens */
@media (min-width:1200px) {
    .navbar .nav li.active a {
        border-bottom:3px solid #FF7454;
        margin:2px 0;
        padding-top:3px;
        line-height:70px;
        background:none;
        color:#FF7454;
    }
    .navbar .nav li.active a:hover {
        color:#FFF;
        background-color:#FF7454;
    }
    .navbar .navbar-nav li a {
        padding-top:0;
        line-height:76px;
        padding-bottom:0;
        margin:2px 0;
    }
    .navbar .navbar-nav li a.dropdown-toggle:hover, .nav .open > a.dropdown-toggle, .nav .open > a.dropdown-toggle:hover, .nav .open > a.dropdown-toggle:focus {
        background:none !important;
        color:#FF7454 !important;
    }
}
@-ms-viewport {
    width:auto !important;
}
