/* General */
body {
    margin-top: 80px;
}
/* /General */

/* Carousel */
.background-main {
    background-color: #00B7EB !important;
}
.carousel-item1 { background-image:url('../img/backgrounds/bg1.png') }
.carousel-item2 { background-image:url('../img/backgrounds/bg4.jpg') }
.carousel-item3 { background-image:url('../img/backgrounds/bg5.jpg') }
/* /Carousel */

/* Navigation */
.navbar {
    border-radius:0;
    border:0;
    background-color:#FFF;
    font-family:Nunito, sans-serif;
    font-size:14px;
    font-weight:400;
    margin:0;
    -moz-box-shadow:0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow:0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    z-index:9;
}
.navbar-brand {
    height:80px;
    padding: 25px 15px 25px 0;
    letter-spacing:0;
    font-weight:900;
    color:#00B7EB;
    text-transform:uppercase;
    font-family:Raleway, sans-serif;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
    font-size: 22px;
    line-height: 30px;
}
.navbar-brand span.logoDomain {
    font-weight: normal;
    color: #CCC;
    font-size: 12px;
    margin-top: -3px;
    display: block;
    float: right;
}
.css-logo { float:left; margin-right:8px; height:19px; width:19px; border-radius:19px; background-color:#00B7EB; margin-top:5px }
.tyloo-logo {
    width:188px;
    height:30px;
    float:right;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left:0;
}
.navbar-brand:hover {
    opacity:0.7;
}
.navbar-toggle .icon-bar {
    background-color:#8F8F8F;
    height:1px;
}
.navbar-toggle:hover .icon-bar {
    background-color:#FFF;
}
.navbar-toggle {
    border:1px solid #8F8F8F;
    border-radius:2px;
    margin-top:25px;
}
.navbar-toggle:hover {
    border:1px solid #00B7EB;
    background-color:#00B7EB;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    transition:color 0.3s ease;
}
.navbar ul.nav a {
    color:#8F8F8F;
    background:transparent;
    text-transform: uppercase;
}
.navbar ul.nav a:hover {
    color:#FFF;
    background-color:#00B7EB;
    -webkit-transition:color 0.1s ease;
    -moz-transition:color 0.1s ease;
    -o-transition:color 0.1s ease;
    transition:color 0.1s ease;
}
.navbar .nav li.active a {
    color:#FFF;
    background-color:#00B7EB;
}
.navbar .navbar-nav li a {
    padding-top:0;
    line-height:80px;
    padding-bottom:0;
}
.navbar .dropdown-menu > li > a {
    line-height:2.66 !important;
    border-bottom:1px solid #F0F0F0;
}
.dropdown-arrow {
    font-size:10px;
    padding-left:7px;
}
.navbar .navbar-nav .open .dropdown-menu > li > a, .navbar .navbar-nav .open .dropdown-menu {
    background-color:#FFF;
    color:#8F8F8F;
    outline:none;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color:#00B7EB;
    color:#FFF;
}
.navbar .dropdown-menu {
    border:2px solid #00B7EB;
    border-radius:0;
    box-shadow:none;
    font-size:12px;
    min-width:210px;
    box-shadow:0px 2px 8px rgba(0, 0, 0, 0.1);
}
.navbar .dropdown-menu > li:last-child > a {
    border:0;
}
.dropdown-submenu { position:relative }
.dropdown-submenu > .dropdown-menu { top:0; left:100%; margin:0 }
.dropdown-submenu:active > .dropdown-menu { display:block }
.dropdown-submenu > a:after { display:block; content:" "; float:right; width:0; height:0; border-color:transparent; border-style:solid; border-width:3px 0 3px 3px; border-left-color:#CCC; margin-top:13px; margin-right:-5px }
.dropdown-submenu > a:hover:after { border-left-color:#FFF }
.dropdown-submenu.pull-left { float:none }
.dropdown-submenu.pull-left > .dropdown-menu { left:-100%; margin-left:10px }
.submenu-arrow { padding-top:10px }
.trigger { cursor:pointer }
.dropdown-form {
    min-width:250px;
}
.navbar .btn-primary { margin-top:-1px }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color:#00B7EB !important;
    color:#FFF !important;
}
.navbar-collapse {
    background:#FFF;
}
.mfp-fade.mfp-bg {
    opacity:0;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    transition:all .4s ease-out;
}
.search-input { height:2.41em !important }
.search-btn { padding:6px 12px }
.navbar .navbar-nav li.navbar-social a {
    line-height: 1;
    margin: 29px 0 29px 8px;
    color: #FFF;
    background-color: #00B7EB;
    padding: 9px 10px;
}

/* Desktop screens */
@media (min-width:1200px) {
    .navbar .nav li.active a {
        border-bottom:3px solid #00B7EB;
        margin:2px 0;
        padding-top:3px;
        line-height:70px;
        background:none;
        color:#00B7EB;
    }
    .navbar .nav li.active a:hover {
        color:#FFF;
        background-color:#00B7EB;
    }
    .navbar .navbar-nav li a {
        padding-top:0;
        line-height:76px;
        padding-bottom:0;
        margin:2px 0;
    }
    .navbar .navbar-nav li a.dropdown-toggle:hover, .nav .open > a.dropdown-toggle, .nav .open > a.dropdown-toggle:hover, .nav .open > a.dropdown-toggle:focus {
        background:none !important;
        color:#00B7EB !important;
    }
}
/* /Navigation */

/* ScrollTop Button */
.scrolltop-holder {
    height:30px;
    width:30px;
    background-color:#353535;
    text-align:center;
    float:right;
}
.scroll-top {
    position:fixed;
    bottom:10px;
    right:10px;
}
.scrolltop {
    font-size:16px;
    color:#FFF;
    line-height:30px !important;
}
.scrolltop-holder:hover {
    background-color:#00B7EB;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
/* /ScrollTop Button */

/* Bootstrap Social */
.btn-social-icon {
    border: 0;
}
.btn-social-icon.btn-lg>:first-child {
    font-size: 1.1em;
}
/* /Bootstrap Social */

/* Owl Carousel */
.owl-controls .owl-nav [class*=owl-] {
    color:#FFF;
    font-size:21px;
    padding:3px 9px;
    margin-right:2px;
    background:#D6D6D6;
    display:inline-block;
    cursor:pointer;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    position:relative;
}
.owl-controls {
    float:right;
    margin-top: -10px;
}
/* /Owl Carousel */

/* Timeline */
.timeline {
    padding: 20px 0;
}
.timeline > li > .timeline-panel {
    width:100%
}
/* /Timeline */

/* Google Maps */
iframe.googleMaps {
    border: 0px none;
    border-color:#fff;
    width:100%;
}
/* Google Maps */

/* Portfolio */
.image-icon-holder {
    line-height:46px;
}
/* /Portfolio */
