/*** uncss> filename: http://tyloo.fr/assets/css/frontend.css ***/

.fa {
    display: inline-block;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 340px;
}

.btn-social-icon {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.owl-carousel,
html {
    -webkit-tap-highlight-color: transparent;
}

ul.list-arrow {
    list-style-type: none;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/fontawesome-webfont.eot?v=4.3.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff2?v=4.3.0) format('woff2'),url(../fonts/fontawesome-webfont.woff?v=4.3.0) format('woff'),url(../fonts/fontawesome-webfont.ttf?v=4.3.0) format('truetype'),url(../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

img {
    vertical-align: middle;
}

body {
    margin: 0;
}

.fa-envelope-o:before {
    content: "\f003";
}

.fa-heart:before {
    content: "\f004";
}

.fa-home:before {
    content: "\f015";
}

.fa-arrow-left:before {
    content: "\f060";
}

.fa-arrow-right:before {
    content: "\f061";
}

.fa-arrow-up:before {
    content: "\f062";
}

.fa-trophy:before {
    content: "\f091";
}

.fa-phone:before {
    content: "\f095";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-flask:before {
    content: "\f0c3";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-github-alt:before {
    content: "\f113";
}

.fa-code:before {
    content: "\f121";
}

/*!
 * Bootstrap v3.3.4 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
}

footer,
header,
nav,
section {
    display: block;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

img {
    border: 0;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

button {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
    img {
        page-break-inside: avoid;
    }

    *,
    :after,
    :before {
        color: #000!important;
        text-shadow: none!important;
        background: 0 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    a[href^="#"]:after {
        content: "";
    }

    img {
        max-width: 100%!important;
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .navbar {
        display: none;
    }
}

.btn,
.btn-primary:active,
.btn:active,
.navbar-toggle {
    background-image: none;
}

body {
    background-color: #fff;
}

*,
:after,
:before {
    box-sizing: border-box;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.sr-only,
hr {
    border: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

[role=button] {
    cursor: pointer;
}

h2,
h3,
h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0 0 10px;
}

small {
    font-size: 85%;
}

.text-center {
    text-align: center;
}

.navbar ul.nav a,
.navbar-brand,
h2 {
    text-transform: uppercase;
}

ol,
ul {
    margin-top: 0;
}

ol,
ul {
    margin-bottom: 10px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12,
.col-md-12,
.col-sm-12,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width:768px) {
    .col-sm-12,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-8 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
}

@media (min-width:992px) {
    .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width:1200px) {
    .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}

.btn:active:focus,
.btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
}

.btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.nav>li,
.nav>li>a {
    display: block;
    position: relative;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>li>a {
    padding: 10px 15px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

@media (min-width:768px) {
    .navbar {
        border-radius: 4px;
    }

    .navbar-header {
        float: left;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }

    .navbar-fixed-top .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-device-width:480px)and (orientation:landscape) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 200px;
    }
}

.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

.navbar-brand>img {
    display: block;
}

@media (min-width:768px) {
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-fixed-top {
        border-radius: 0;
    }

    .navbar>.container .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
}

.navbar-toggle:focus {
    outline: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

@media (min-width:768px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav>li {
        float: left;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width:768px) {
    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }
}

.panel-title,
.panel-title>a {
    color: inherit;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
}

.panel-group .panel,
.panel-title {
    margin-bottom: 0;
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-title {
    margin-top: 0;
    font-size: 16px;
}

.panel-group .panel {
    border-radius: 4px;
}

.panel-group .panel+.panel {
    margin-top: 5px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}

.panel-default {
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #333;
    border-color: #ddd;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}

.carousel,
.carousel-inner {
    position: relative;
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

@media all and (transform-3d),(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }

    .carousel-inner>.item.active {
        left: 0;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

.carousel-inner>.active {
    display: block;
}

.carousel-inner>.active {
    left: 0;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.btn-github:active,
.btn-linkedin:active,
.btn-twitter:active {
    background-image: none;
}

.carousel-control:focus,
.carousel-control:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    border-radius: 10px;
}

ul.list-arrow li {
    text-indent: -1.3em;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

@media screen and (min-width:768px) {
    .carousel-indicators {
        bottom: 20px;
    }
}

.container:after,
.container:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    display: table;
    content: " ";
}

.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.panel-body:after,
.row:after {
    clear: both;
}

.visible-lg-block {
    display: none!important;
}

@-ms-viewport {
    width: device-width;
}

@media (min-width:1200px) {
    .visible-lg-block {
        display: block!important;
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none!important;
    }
}

.btn-social-icon {
    position: relative;
    text-align: left;
    overflow: hidden;
    height: 34px;
    width: 34px;
    padding: 0;
}

.btn-social-icon :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 34px;
    font-size: 1.6em;
}

.btn-social-icon.btn-lg :first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.1em;
}

.btn-social-icon.btn-xs :first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1em;
}

.btn-social-icon :first-child {
    border: none;
    text-align: center;
    width: 100%!important;
}

.btn-social-icon.btn-lg {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0;
}

.btn-social-icon.btn-xs {
    height: 22px;
    width: 22px;
    padding-left: 0;
    padding-right: 0;
}

.btn-github {
    color: #FFF;
    background-color: #444;
}

.btn-github:active,
.btn-github:focus,
.btn-github:hover {
    color: #FFF;
    background-color: #303030;
}

.btn-linkedin {
    color: #FFF;
    background-color: #007BB6;
}

.btn-linkedin:active,
.btn-linkedin:focus,
.btn-linkedin:hover {
    color: #FFF;
    background-color: #005F8D;
}

.btn-twitter {
    color: #FFF;
    background-color: #55ACEE;
}

.btn-twitter:active,
.btn-twitter:focus,
.btn-twitter:hover {
    color: #FFF;
    background-color: #309AEA;
}

.owl-controls {
    float: right;
}

#customNav {
    width: 100%;
}

.owl-carousel {
    display: none;
    width: 100%;
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}

.owl-carousel.owl-loaded {
    display: block;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:hover {
    color: #FF7454;
    cursor: pointer;
}

.center-vertically-left,
.center-vertically-right {
    display: table-cell;
    vertical-align: middle;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'),local('OpenSans-Light'),url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'),local('OpenSans'),url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'),local('OpenSans-Semibold'),url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'),local('OpenSans-Bold'),url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'),local('Raleway-Light'),url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'),url(http://fonts.gstatic.com/s/raleway/v9/bIcY3_3JNqUVRAQQRNVteQ.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'),local('Raleway-Bold'),url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIy3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Heavy'),local('Raleway-Heavy'),url(http://fonts.gstatic.com/s/raleway/v9/PKCRbVvRfd5n7BTjtGiFZC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

body {
    background: #FFF;
    font: 400 14px 'Open Sans',sans-serif;
    font-weight: 300;
    color: #8F8F8F;
    height: 100%;
    line-height: 1.6;
    min-height: 100%!important;
    margin-top: 80px;
}

html {
    min-height: 100%!important;
}

::selection {
    background: #FF7454;
    color: #FFF;
    box-shadow: 0;
}

::-moz-selection {
    background: #FF7454;
    color: #FFF;
    box-shadow: 0;
}

a:hover {
    text-decoration: underline;
}

.center-vertically-left {
    text-align: left;
}

.center-vertically-right {
    text-align: right;
}

.border-bottom {
    border-bottom: 1px dotted #D2D2D2;
}

.no-margin {
    margin: 0!important;
}

.btn-rw {
    border-radius: 2px;
}

.pt40 {
    padding-top: 40px!important;
}

.pt60 {
    padding-top: 60px!important;
}

.pb60 {
    padding-bottom: 60px!important;
}

.mt10 {
    margin-top: 10px!important;
}

.mt15 {
    margin-top: 15px!important;
}

.mt40 {
    margin-top: 40px!important;
}

.mb20 {
    margin-bottom: 20px!important;
}

.mb30 {
    margin-bottom: 30px!important;
}

.mb40 {
    margin-bottom: 40px!important;
}

.background-light-grey {
    background-color: #FAFAFA!important;
}

.background-main {
    background-color: #FF7454!important;
}

.container-header {
    padding-left: 0;
    padding-right: 0;
}

section {
    overflow: hidden;
}

h2,
h3,
h4 {
    color: #8A8A8A;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    margin: 0 0 14px;
}

h2 {
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

.heavy {
    font-weight: 600!important;
}

.text-white {
    color: #FFF!important;
}

ul.list-arrow li:before {
    font-family: FontAwesome;
    content: "\f0da";
    float: left;
    width: 1.3em;
}

.btn-rw,
.navbar {
    font-family: 'Open Sans',sans-serif;
}

.btn-rw {
    font-weight: 300;
    border: 0;
}

.navbar {
    font-weight: 400;
}

.btn {
    border-radius: 2px;
    padding: 9px 14px;
}

.btn:active:focus,
.btn:focus {
    outline: 0;
}

.btn-rw.btn-primary {
    color: #FFF;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.btn-rw.btn-primary {
    background-color: #FF7454;
    -webkit-box-shadow: 0 2px 0 rgba(255,116,84,.5);
    -moz-box-shadow: 0 2px 0 rgba(255,116,84,.5);
    box-shadow: 0 2px 0 rgba(255,116,84,.5);
    transition: all .5s ease;
}

.btn-rw.btn-primary:focus,
.btn-rw.btn-primary:hover {
    background-color: #F9856A;
    -webkit-box-shadow: 0 2px 0 #F9856A;
    -moz-box-shadow: 0 2px 0 #F9856A;
    box-shadow: 0 2px 0 #F9856A;
}

.btn-social-icon {
    border-radius: 2px;
}

.btn-social-icon :first-child {
    color: #FFF;
}

.btn-lg {
    padding: 10px 19px;
    font-size: 18px;
}

.bordered-icon-sm {
    border: 1px solid #D2D2D2;
    border-radius: 50%;
    color: #FF7454;
    background-color: transparent;
    text-align: center;
    font-size: 26px!important;
    line-height: 58px;
    height: 60px;
    width: 60px;
    display: inline-block;
}

.bordered-icon-sm:focus,
.bordered-icon-sm:hover {
    background-color: #FF7454;
    border-color: transparent;
    color: #FFF;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.navbar-brand {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.navbar {
    border-radius: 0;
    border: 0;
    background-color: #FFF;
    font-size: 14px;
    margin: 0;
    -moz-box-shadow: 0 3px 0 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 0 0 rgba(0,0,0,.1);
    z-index: 9;
}

.navbar-brand {
    height: 80px;
    padding: 25px 15px;
    letter-spacing: 0;
    font-weight: 900;
    color: #FF7454;
    font-family: 'Raleway',sans-serif;
    transition: all .4s ease-in-out;
}

.tyloo-logo {
    width: 188px;
    height: 30px;
    float: right;
}

.navbar>.container .navbar-brand {
    margin-left: 0;
}

.navbar-brand:hover {
    opacity: .7;
}

.navbar-toggle .icon-bar {
    background-color: #8F8F8F;
    height: 1px;
}

.navbar-toggle:hover .icon-bar {
    background-color: #FFF;
}

.navbar-toggle {
    border: 1px solid #8F8F8F;
    border-radius: 2px;
    margin-top: 25px;
}

.navbar-toggle:hover {
    border: 1px solid #FF7454;
    background-color: #FF7454;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

.navbar ul.nav a {
    color: #8F8F8F;
    background: 0 0;
}

.navbar .nav li.active a,
.navbar ul.nav a:hover {
    color: #FFF;
    background-color: #FF7454;
}

.navbar ul.nav a:hover {
    -webkit-transition: color .1s ease;
    -moz-transition: color .1s ease;
    -o-transition: color .1s ease;
    transition: color .1s ease;
}

.navbar .navbar-nav li a {
    padding-top: 0;
    line-height: 80px;
    padding-bottom: 0;
}

.navbar .btn-primary {
    margin-top: -1px;
}

.navbar-collapse {
    background: #FFF;
}

.navbar .navbar-nav li.navbar-social a {
    line-height: 1;
    margin: 29px 0 29px 8px;
    color: #FFF;
    background-color: #FF7454;
    padding: 9px 10px;
}

.heading-footer h4,
.panel-title,
.panel-title>a {
    font-family: 'Open Sans',sans-serif;
}

.carousel,
.carousel .item,
.carousel-inner {
    border-radius: 0;
}

.carousel-inner {
    background-color: #272727;
}

.carousel-indicators {
    z-index: 7;
}

.carousel-title-bg,
.carousel-title-bgclear {
    padding: 7px 12px;
    line-height: 1.5;
}

.carousel-description {
    color: #FFF;
    font-size: 18px;
}

.carousel-title-bg {
    background-color: #FF7454;
}

.carousel-title-bgclear {
    border: 2px solid #FFF;
}

.carousel-content {
    height: 550px;
}

.carousel-control {
    width: 10%;
    text-shadow: none;
    font-size: 42px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-control .carousel-arrow-left,
.carousel-control .carousel-arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -20px;
    margin-left: -10px;
}

.carousel-indicators li {
    border: 0;
    background-color: #E1E1E1;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-item1 {
    background-image: url(../img/backgrounds/bg1.png);
}

.carousel-item2 {
    background-image: url(../img/backgrounds/bg4.jpg);
}

.carousel-item3 {
    background-image: url(../img/backgrounds/bg5.jpg);
}

.heading h4 {
    margin: 0 0 -2px;
    padding-bottom: 15px;
    display: inline-block;
    border-bottom: 2px solid #FF7454;
}

.heading {
    border-bottom: 1px dotted #D2D2D2;
}

.heading {
    display: block;
    margin: 0 0 20px;
    font-size: 12px;
}

.panel {
    border-radius: 2px!important;
    border: 1px solid #E6E9ED;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.02);
    box-shadow: 0 1px 1px rgba(0,0,0,.02);
}

.panel-default>.panel-heading {
    background-color: #FAFAFA;
}

.panel-title>a {
    font-size: 14px;
    color: #8A8A8A;
}

.panel-title>a:hover {
    color: #FF7454;
    text-decoration: none;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.panel-group .panel-title:after {
    content: "+";
    font-size: 14px;
    position: absolute;
    right: 35px;
    margin-top: 2px;
    color: #BABABA;
}

.panel-group {
    margin-bottom: 15px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
    color: #FF7454;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    border-top: 1px dotted #D2D2D2;
}

.dark-hr {
    border-top: 1px dotted #4C4C4C;
}

.footer {
    padding: 40px 0 30px;
    color: #8F8F8F;
    vertical-align: bottom;
}

.footer {
    background-color: #272727;
}

.address {
    margin-top: 20px;
    font-weight: 400;
}

.address {
    color: #5E5E5E;
}

.copyright {
    color: #646464;
    font-size: 12px;
    font-weight: 400;
}

footer p {
    margin: 0 0 5px;
}

footer a {
    font-weight: 400;
}

.footer-info-icons {
    padding-right: 15px;
    color: #FFF;
}

.heading-footer h4 {
    margin: 0 0 -2px;
    padding-bottom: 20px;
    display: inline-block;
    font-weight: 400;
    border-bottom: 2px solid #FF7454;
    color: #DEDEDE;
    font-size: 14px;
}

.heading-footer {
    display: block;
    margin: 0 0 25px;
    border-bottom: 1px dotted #4C4C4C;
    font-size: 12px;
}

.scrolltop-holder {
    height: 30px;
    width: 30px;
    background-color: #353535;
    text-align: center;
    float: right;
}

.scroll-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.scrolltop {
    font-size: 16px;
    color: #FFF;
    line-height: 30px!important;
}

.scrolltop-holder:hover {
    background-color: #FF7454;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

@media (max-width:480px) {
    .carousel-description,
    .carousel-title-bg {
        font-size: 14px;
    }

    .carousel-description h2,
    .carousel-description h3 {
        font-size: 17px;
    }

    .carousel-content {
        height: 450px;
    }
}

@media (max-width:767px) {
    .navbar .navbar-nav li a {
        line-height: 3.4;
    }

    .navbar-collapse {
        -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,.08);
        -moz-box-shadow: 0 3px 0 0 rgba(0,0,0,.08);
        box-shadow: 0 3px 0 0 rgba(0,0,0,.08);
    }

    .carousel-image {
        display: none;
    }

    .carousel-description {
        padding: 0 10%;
    }

    .p15xs {
        padding: 0 15%;
    }

    .panel-group .panel-title:after {
        display: none;
    }

    .showcase-image {
        padding-top: 30px;
    }

    .mg25-xs {
        margin-top: 25px;
    }

    .container-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .copyright {
        line-height: 1.4;
    }

    .navbar-header {
        height: 80px;
        border-bottom: 1px solid #E0E0E0;
    }

    .mt20-xs {
        margin-top: 20px!important;
    }
}

@media (min-width:1200px) {
    .navbar .nav li.active a {
        border-bottom: 3px solid #FF7454;
        margin: 2px 0;
        padding-top: 3px;
        line-height: 70px;
        background: 0 0;
        color: #FF7454;
    }

    .navbar .nav li.active a:hover {
        color: #FFF;
        background-color: #FF7454;
    }

    .navbar .navbar-nav li a {
        padding-top: 0;
        line-height: 76px;
        padding-bottom: 0;
        margin: 2px 0;
    }
}

@-ms-viewport {
    width: auto!important;
}

/*# sourceMappingURL=frontend.css.map */

